		<!-- Landing page in partials directory -->
		<div class="container">
      <div class="template">
        <h1>Wait and Eat</h1>
        <p class="lead">The smart restaurant waiting list.</p>
				<button class="btn btn-primary btn-lg">Get Started Now!</button>
      </div>
    </div><!-- /.container -->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Ditch the Clipboard</h2>
          <p>Use this simple app to manage your waiting list from your PC, tablet or smart phone.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Get your voice back</h2>
          <p>No need to yell every 5 minutes. You can text a party with just a tap!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Customers will love you.</h2>
          <p>Now they can go to the bathroom and still know their table is ready.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
		</div>
